@use './variables';

.about {
    width: 100%;
    padding: 2em 0;
    background-color: #ccc;
    box-shadow: inset -1px -6px 20px 1px #00000066;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: variables.$tablet) {
        min-height: 60vh;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        width: 80%;
        margin: auto;
        padding: 3em;
        border-radius: 16px;

        background-color: variables.$header-footer;

        @media (max-width: variables.$desktop) {
            flex-direction: column;
        }
        @media (max-width: variables.$tablet) {
            width: 100%;
        }

        &__image-box {
            align-self: center;
            &--img {
                width: 600px;
                border-radius: 8px;
                box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.548);

                @media (max-width: variables.$tablet) {
                    width: 400px;
                }
                @media (max-width: variables.$mobile) {
                    width: 350px;
                }
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            &--paragraph {
                color: #c9c8c8;
                text-align: justify;
                font-size: .9em;
            }
            @media (max-width: variables.$mobile) {
                width: 110%;
            }
        }
    }
}