@use './variables';

@keyframes dropdown {
    from {
        height: 0px;
    }
    to {
        height: 220px;
    }
}
.dropdown-animation {
    animation: dropdown 0.3s ease-out;
    border-top: 1px solid #fff;
}

.header {
    width: 100%;
    background-color: variables.$header-footer;
    position: fixed;
    z-index: 2;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.548);

    .nav-menu {
        margin: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    
        &__brand {
            color: variables.$titles;
            padding: 1em 0;

            @media (max-width: variables.$tablet) {
                font-size: 1.1em;
            }
        }

        &__collapse-button {
            display: none;
            flex-direction: column;
            justify-content: end;
            cursor: pointer;
            height: 100%;
            background-color: transparent;
            border: none;
            padding-right: 1em;
            margin-left: auto;

            @media (max-width: variables.$tablet) {
                display: flex;
            }
            &--bar {
                width: 30px;
                height: 3px;
                background-color: variables.$link-text-main;
                margin: 4px 0;
            }
        }
    
        &__links-container {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 1em 0;

            @media (max-width: variables.$tablet) {
                position: absolute;
                flex-direction: column;
                width: 100%;
                height: 300px;
                top: 0;
                right: 0;
                top: 100%;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                padding: 0;
                max-height: 0;
            }
            &.dropdown-animation {
                max-height: 300px;
                background-color: variables.$header-footer;
            }
    
            &__item {
                list-style: none;

                @media (max-width: variables.$tablet) {
                    display: block;
                    text-align: center;
                    cursor: pointer;
                }

                &--link {
                    text-decoration: none;
                    color: variables.$link-text-main;
                    font-family: variables.$link-text-font;

                    &:hover, &.active {
                        color: variables.$titles;
                    } 

                    @media (max-width: variables.$tablet) {
                        width: 100vw;
                        height: 100%;
                        display: block;
                        padding: 5px;
                        font-size: 1.2em;
    
                        &:hover, &.active {
                            background-color: variables.$link-collapse-background;
                            color: variables.$titles;
                        }
                    }
                }
            }
        }
    }
}