@use './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1, h2, p {
    font-family: 'Cinzel', serif;
}
h1, h2 {
    color: variables.$titles;
}