//colors
$header-footer: rgb(43, 42, 42);

//links
$link-text-main: #c4c4c4;
$link-text-hover: #fff;
$link-text-font: 'Mukta', sans-serif;
//links collapse
$link-collapse-background: #8f8f8f;
$link-collapse-fontcolor: #000;

//titles and texts
$titles: #fac000;

//media queries
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
